# Password untuk Admin Panel
VITE_ADMIN_PASSWORD=passwordmu_disini

# Google Sheets Integration
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nKONTENKUNCI...\n-----END RSA PRIVATE KEY-----"
GOOGLE_SPREADSHEET_ID=1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms
